@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* @font-face {
    font-family: myFirstFont;
    src: url(../font/Aller/Aller_Lt.ttf);
 } */

 /* *{
    font-family:myFirstFONT;
 } */

 body{
   font-size: 1rem;
   line-height: 1.5;
   overflow-x: hidden;
   /* margin-bottom:30em; */
   color: #212529;
   font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
 }
 .code-text {
     font-family: monospace;
     color: #333;
 }

 /* Default code colors  */

 .code-text .number { color: #0a4850; transition: 2s;}   /* Red */


 /* Hover effect - changes colors */


 
  :root {
     --accent: 136, 58, 234;
     --accent-light: 224, 204, 250;
     --accent-dark: 49, 10, 101;
     --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        rgb(0, 0, 0) 60%
     );
  }
  html {
   font-family:sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 1.15;
     background: #ffffff;
     color: #000000;
   scroll-behavior: smooth;
   scrollbar-color: #ff0000 #000000;
 
  }

  code {
     font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
  }
 .section-title{
   font-family: 'Nunito sans' !important;
   /* font-weight: 400; */
   font-style: normal;
   color:#efd043;
   color:#f50000;
   font-size: 1.5rem;
   font-weight: 500;
   padding: 1.5rem 2rem;
 /* padding-top: 4vw; */
   transition: 1.3s;
}

 @media screen and (max-width: 983px) {
.section-title{
   font-size:2rem;
   padding: 1rem 2rem;
   /* text-shadow: 2px 2px #0a4850; */
}  
/* .section-title:hover{
 font-size: 2rem;
   padding: 1rem 2rem;
   font-weight: 700;
}   */
 }


 /***************/

 .text-shadow{
   text-shadow:  1px 2px 11px #f00;
 }