@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @font-face {
    font-family: myFirstFont;
    src: url(../font/Aller/Aller_Lt.ttf);
 } */

 /* *{
    font-family:myFirstFONT;
 } */

 body{
   overflow-x: hidden;
   /* margin-bottom:30em; */
 }
 .code-text {
     font-family: monospace;
     color: #333;
 }

 /* Default code colors  */

 .code-text .number { color: #0a4850; transition: 2s;}   /* Red */


 /* Hover effect - changes colors */


 
  :root {
     --accent: 136, 58, 234;
     --accent-light: 224, 204, 250;
     --accent-dark: 49, 10, 101;
     --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        rgb(0, 0, 0) 60%
     );
  }
  html {
   font-family:sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 1.15;
     background: #ffffff;
     color: #000000;
   scroll-behavior: smooth;
   scrollbar-color: #ff0000 #000000;
 
  }

  code {
     font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
  }
 .section-title{
   font-family:  sans-serif;
   font-weight: 400;
   font-style: normal;
   color:#efd043;
   color:#f50000;
   /* text-shadow: 4px 4px #0a4850; */
 
   font-size: 1.7rem;
   font-weight: 700;
   padding: 2rem 2rem;
 padding-top: 4vw;
   transition: 1.3s;
}

 @media screen and (max-width: 983px) {
.section-title{
   font-size:2rem;
   padding: 1rem 2rem;
   /* text-shadow: 2px 2px #0a4850; */
}  
.section-title:hover{
 font-size: 2rem;
   padding: 1rem 2rem;
   font-weight: 700;
}  
 }


 /***************/

 .text-shadow{
   text-shadow:  1px 2px 11px #f00;
 }