---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/layout/Nav.astro';
import HomeBody from '../components/HomeBody.astro';
---

<Layout title="Scilab Case Study Hackathon">
<div class=" md:px-4 pb-5">
    <div class="md:px-20 px-3">
      <h1 class=" text-center section-title mx-4 mb-5" id="problem-statement">
        Problem Statement
      </h1>
   
      <p class="leading-relaxed mb-4">Choosing a problem statement for your Scilab case study:</p>
<ul class="list-disc list-outside space-y-1">
        <li>Select a research paper as a reference published in a recognized and reputable journal or presented at a reputed conference.</li>
        <li>Reproduce its results using Scilab.</li>
        <li>Present the Scilab-based solution, workflow, and comparison with the original results along with a report.<br /><br />Here are some suggested domains for the Hackathon:<br /></li>
        </ul>
    </div>
  </div>

<div class="md:px-4 pb-5 border-l-2 border-white">
    <div class="md:px-20 px-3">
      <!--<h1 class=" text-center section-title mx-4 mb-5" id="topics">
        Case study topics can be chosen from the following domains for the Hackathon
      </h1>-->
   
        <!-- Card 1 -->
        <ul class="list-disc list-outside space-y-1">
          <li>Robotics and Autonomous Systems</li>
          <li>Data Analytics and Machine Learning</li>
          <li>Artificial Intelligence and Optimization</li>
          <li>Renewable Energy and Sustainability</li>
          <li>Computational Biology and Healthcare Analytics</li>
          <li>Control Systems</li>
          <li>Space and Aerospace Simulations</li>
          <li>Digital Signal and Image Processing</li>
<li>   <p><mark>Any other domain/topic can also be proposed (subject to approval by IIT Bombay-FOSSEE-Scilab team)</mark></p></li>
          </ul>
  
    </div>

 <div class="md:px-4 pb-5">
      <div class="md:px-20 px-3">
        <h1 class="text-center section-title mx-4 px-4 mb-5" id="system-requirement">System Requirement</h1>
    
       
    
        <!-- Grid Container for Two Columns and Three Cards in Second Row -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
          
          <!-- Linux Section Card -->
          <div class="bg-gray-100 p-5 rounded-lg shadow-md">
            <h4 class="text-xl font-semibold mb-1"><strong>Linux:</strong></h4>
            <ul class="space-y-1">
              <li><h3>OS: Ubuntu 22.04+ </h3></li>
              <li><h3>Scilab: <a target="_blank"  href="https://www.scilab.org/download" class="text-blue-500 hover:underline">Download latest version</a></h3></li>
            </ul>
          </div>
    
          <!-- Mac Section Card -->
          <div class="bg-gray-100 p-5 rounded-lg shadow-md">
            <h4 class="text-xl font-semibold mb-1"><strong>Mac:</strong></h4>
            <ul class="space-y-1">
              <li><h3>OS: macOS 10.13+</h3></li>
              <li><h3>Scilab: <a target="_blank" href="https://www.scilab.org/download" class="text-blue-500 hover:underline">Download latest version</a></h3></li>
            </ul>
          </div>
    
          <!-- Windows Section Card -->
          <div class="bg-gray-100 p-5 rounded-lg shadow-md">
            <h4 class="text-xl font-semibold mb-1"><strong>Windows:</strong></h4>
            <ul class="space-y-1">
              <li><h3>OS: Windows 10 or 11</h3></li>
            </ul>
            <p>Scilab: <a target="_blank"  href="https://www.scilab.org/download" class="text-blue-500 hover:underline">Download latest version</a></p>
          </div>
    
        </div>
         <!-- General Section Card centered -->
         <div class="bg-gray-100 p-5 rounded-lg shadow-md max-w-md mx-auto my-4">
          <h4 class="text-xl font-semibold mb-1"><strong>General:</strong></h4>
          <ul class="space-y-1">
            <li><h3><strong>RAM:</strong> 4 GB (8 GB recommended)</h3></li>
            <li><h3><strong>Processor:</strong> Dual-core or higher</h3></li>
            <li><h3><strong>Storage:</strong> 2 GB free space</h3></li>
            <li><h3><strong>Internet:</strong> Stable connection</h3></li>
          </ul>
        </div>
      </div>
    </div>
    
   

</Layout>

