---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/layout/Nav.astro';
import HomeBody from '../components/HomeBody.astro';
---

<Layout title="Scilab Case Study Hackathon">
<div class=" md:px-4 pb-5">
    <div class="md:px-20 px-3">
      <h1 class=" text-center section-title mx-4 mb-5" id="problem-statement">
        Problem Statement
      </h1>
      <p class="leading-relaxed mb-4">Participants are required to:</p>
      <ul class="list-disc list-inside space-y-1">
        <li>Select a published research paper as a reference.</li>
        <li>Reproduce its results using Scilab.</li>
        <li>Present the Scilab-based solution, workflow, and comparison with the original results along with a report.</li>
      </ul>
    </div>
  </div>

<div class="md:px-4 pb-5 border-l-2 border-white">
    <div class="md:px-20 px-3">
      <h1 class=" text-center section-title mx-4 mb-5" id="topics">
        Case study topics can be chosen from the following domains for the Hackathon
      </h1>
   
        <!-- Card 1 -->
        <ul class="list-disc list-outside space-y-1">
          <li>Robotics and Autonomous Systems</li>
          <li>Data Analytics and Machine Learning</li>
          <li>Artificial Intelligence and Optimization</li>
          <li>Renewable Energy and Sustainability</li>
          <li>Computational Biology and Healthcare Analytics</li>
          <li>Control Systems</li>
          <li>Space and Aerospace Simulations</li>
          <li>Digital Signal and Image Processing</li>
          </ul>
     <mark>Any other domain/topic can also be proposed (subject to approval by IIT Bombay-FOSSEE-Scilab team)</mark>
    </div>



</Layout>

