---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/layout/Nav.astro';
import HomeBody from '../components/HomeBody.astro';
---

<Layout title="Scilab Case Study Hackathon">
    <div class=" md:px-4 pb-5 min-h-[50vh]">
    <div class="md:px-20 px-3">
      <h1 class="text-center section-title mx-4 px-4" id="resources">Resources</h1>
  
      <div class="mt-4">
        <h3 class="text-left">
          Explore the Spoken Tutorial series on Scilab to strengthen your understanding of Scilab concepts. These tutorials cover a wide range of topics. 
          <span class="block mt-2 ">
            Access them here: 
            <span class="block mt-2 text-blue-600"> <a target="_blank"  href="https://spoken-tutorial.org/tutorial-search/?search_foss=Scilab&amp;search_language=English" class="underline" target="_blank">Spoken Tutorial Series of Scilab</a>
          </span>
          <span class="block mt-2 text-blue-600"> <a href="https://spoken-tutorial.org/tutorial-search/?search_foss=GUI+in+Scilab&amp;search_language=English" target="_blank" class="underline" >Spoken Tutorial Series of GUI in Scilab</a></span></span>
        </h3>
      </div>
    </div>
  </div>


  
</Layout>