---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/layout/Nav.astro';
import HomeBody from '../components/HomeBody.astro';
---

<Layout title="Scilab Case Study Hackathon">
    <div class=" md:px-4 pb-5 min-h-[50vh]">
    <div class="md:px-20 px-3">
      <h1 class="text-center section-title mx-4 px-4" id="resources">Resources</h1>
  
      <div class="mt-4">
        <h3 class="text-left">
            <ul class="list-disc text-justify space-y-2">
                <li>
                To download Scilab, <a class="underline text-blue-600"  href="https://www.scilab.org/download/scilab-2025.0.0" target="_blank">Click here</a>
                </li>
                <li>Refer our website: <a class="underline text-blue-600"  href="https://scilab.in/case-study-project/completed-case-studies" target="_blank">https://scilab.in/case-study-project/completed-case-studies</a> for the reference of already completed case studies in Scilab.</li>
                <li>
                Self learn Scilab using our Spoken Tutorial series. This will strengthen your understanding of Scilab concepts. These tutorials cover a wide range of topics. <br>Access them here:
                </li>
                </ul>
 </h3>
<p>
          <span class="block mt-2 ">
            
            <span class="block mt-2 text-blue-600"> <a target="_blank"  href="https://spoken-tutorial.org/tutorial-search/?search_foss=Scilab&amp;search_language=English" class="underline" target="_blank">Spoken Tutorial Series of Scilab</a>
          </span>
          <span class="block mt-2 text-blue-600"> <a href="https://spoken-tutorial.org/tutorial-search/?search_foss=GUI+in+Scilab&amp;search_language=English" target="_blank" class="underline" >Spoken Tutorial Series of GUI in Scilab</a></span></span>
       
</p>
      </div>
    </div>
  </div>


  
</Layout>
