---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Scilab Case Study Hackathon" >
  <h1>The Hackathon is still ongoing</h1>
  <!-- <div class="md:px-4 pb-5 h-lvh">
    <div class="md:px-20 px-3">
      <h1 class="text-center section-title mx-4 px-4" id="resources">Results</h3>
    <ul class="list-disc list-inside space-y-2">
      <li class="">Cash rewards</li>
      <li class="">Certificates for all participants.</li>
      <li class="">
        Exclusive recognition for outstanding projects on the Scilab webpage.
      </li>
    </ul>
</div>
</div> -->
</Layout>