---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Scilab Case Study Hackathon">
    <h3>Results</h3>
    <ul>
    <li>Cash rewards</li>
    <li>Certificates for all participants.</li>
    <li>Exclusive recognition for outstanding projects on the Scilab webpage.</li>
    </ul>
</Layout>