---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Scilab Case Study Hackathon" >
    <div class="h-[55vh]">
    <h3 class="text-lg font-semibold text-gray-800 mb-4">Results</h3>
    <ul class="list-disc list-inside space-y-2">
      <li class="">Cash rewards</li>
      <li class="">Certificates for all participants.</li>
      <li class="">
        Exclusive recognition for outstanding projects on the Scilab webpage.
      </li>
    </ul>
</div>
</Layout>